.center {
    text-align: center;
}

.avatar {
    margin-top: -15px;
    margin-bottom: -15px;
    max-height: 35px;
    max-width: 35px;
}

.btn-right {
    float : right;
    
}

.input-right {
    width: 100%;
}
