.center {
    text-align: center;
}

.avatar {
    margin-top: -15px;
    margin-bottom: -15px;
    max-height: 35px;
    max-width: 35px;
}

.btn-right {
    float: right;
    margin-left: 5px;
}

.input-right {
    width: 100%;
}

#content {
    margin-bottom: 100px;
}

.form-comment {
    color: #A0A0A0;
    font-weight: normal;
}

.filter-bar {
    margin-bottom: 20px;
}

.small-combobox {
    max-width: 25%;
}

.panel-list {
    padding-right: 20px;
    padding-left: 20px;
}

.panel-mark {
    text-align: right;
}

.report-40 {
    /*height: 750px;*/
}